.membership {
  position: relative;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 67px;
  }
}

.membership__container {
  position: relative;
}

.membership__title {
  margin-bottom: 7px;
  margin-top: 0;
  text-align: center;
  transform: translateX(-2px);
  font-size: 54px;
  line-height: 65px;
  font-family: "Alumni Sans", "Arial", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 600;

  @include vp-1199 {
    margin-bottom: 10px;
    transform: translateX(-7px);
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    transform: translateX(-5px);
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 12px;
  }
}

.membership__card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 30.2%);
  column-gap: 54px;
  row-gap: 40px;
  margin: 0;
  padding: 0 7px;
  padding-bottom: 10px;
  list-style-type: none;

  @include vp-1199 {
    grid-template-columns: 1fr;
    row-gap: 55px;
  }

  @include vp-767 {
    row-gap: 49px;
  }
}

.membership__card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 347px;
  padding: 50px 20px 47px 20px;
  background-color: $color-default-white;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -7px;
    left: -7px;
    display: block;
    width: calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: $color-default-white;
  }

  @include vp-1199 {
    max-width: none;
    width: 64.5%;
    place-self: center;
    padding-top: 50px;
    padding-bottom: 45px;
  }

  @include vp-767 {
    width: 100%;
    padding-top: 44px;
    padding-bottom: 34px;
  }

  h3 {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    text-align: center;

    @include vp-1199 {
      margin-bottom: 5px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 9px;
    }
  }

  small {
    display: block;
    margin: 0;
    margin-bottom: 65px;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $color-chambray;
    text-align: center;

    @include vp-1199 {
      margin-bottom: 65px;
    }

    @include vp-767 {
      margin-bottom: 54px;
    }
  }

  @include hover-focus {
    &::after {
      background: linear-gradient(135deg, $color-crimson 0, $color-smalt 100%);
    }

    outline: none;
  }
}

.membership__price {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: $color-egyptian-blue;

  @include vp-1199 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 31px;
    font-size: 48px;
    line-height: 72px;

    transform: translateX(1px);
  }

  &::before {
    content: attr(data-price);
    position: absolute;
    bottom: -5px;
    display: block;
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    color: $color-whisper;
    opacity: 0.48;

    @include vp-1199 {
      bottom: -5px;
    }

    @include vp-767 {
      font-size: 80px;
      line-height: 120px;
    }
  }

  span {
    position: relative;
    z-index: 2;
    margin-right: 14px;
    max-width: 273px;
    word-wrap: break-word;
    text-align: center;

    @include vp-767 {
      margin-right: 10px;
    }
  }

  svg {
    position: relative;
    z-index: 2;
    width: 30px;
    height: 42px;
    flex-shrink: 0;

    @include vp-767 {
      width: 24px;
      height: 33px;
    }
  }
}

.membership__button {
  width: 206px;
  padding: 27px 44px 23px 45px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  outline: 2px solid $color-default-black;
  user-select: none;

  @include vp-1199 {
    padding: 26px 44px 24px 45px;
  }

  @include vp-767 {
    padding: 25px 44px 24px 44px;
  }

  @include hover-focus {
    color: $color-default-white;
    background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt 95.31%);
    outline: none;
  }
}

.membership__weights-wrapper {
  position: absolute;
  right: 0;
  bottom: -72px;
  overflow: hidden;
  display: block;
  width: 285px;
  height: 344px;

  @include vp-1199 {
    bottom: -59px;
    width: 346px;
    height: 315px;
  }

  @include vp-767 {
    display: none;
  }
}

.membership__weights {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
