.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding-left: 15px;
  list-style-type: none;
  gap: 11px;

  @include vp-1199 {
    padding-left: 0;
    transform: translateY(-2px);
  }

  @include vp-767 {
    justify-content: flex-start;
  }
}

.social__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1px 0;
}
