.super-games {
  padding-top: 116px;
  padding-bottom: 30px;

  @include vp-1199 {
    padding-top: 98px;
  }

  @include vp-767 {
    padding-top: 70px;
  }
}

.super-games__container {
  display: grid;
  grid-template-columns: 43.1% 56.9%;

  @include vp-767 {
    max-width: 500px;
    grid-template-columns: 1fr;
  }
}

.super-games__image-wrapper {
  place-self: stretch;
  position: relative;
  width: 100%;
  background-color: $color-midnight-express;
}

.super-games__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: $color-midnight-express;
}

.super-games__description-wrapper {
  box-sizing: border-box;
  place-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: $color-torch-red;

  @include vp-767 {
    min-height: 292px;
  }
}

.super-games__description {
  width: 69.5%;
  display: grid;
  grid-template-columns: 60.9% 27.5%;
  grid-template-rows: min-content;
  column-gap: 40px;
  row-gap: 10px;
  color: $color-default-white;

  @include vp-1199 {
    row-gap: 0;
    column-gap: 22px;
  }

  @include vp-767 {
    row-gap: 4px;
  }

  h2 {
    place-self: start start;
    margin: 0;
    padding: 0;
    font-family: 'Alumni Sans';
    font-weight: 600;
    font-size: 82px;
    line-height: 79px;
    text-align: center;
    letter-spacing: 0.03em;
    transform: translateX(-3px);
    word-wrap: break-word;
    width: 100%;

    @include vp-1199 {
      max-width: 120px;
      margin-left: 11px;
      font-size: 48px;
      line-height: 46px;
      text-align: left;
    }
  }

  p {
    margin: 0;
    padding: 0;
    padding-left: 2px;
    grid-column: span 2;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    @include vp-1199 {
      font-size: 12px;
      transform: translateX(-1px);
    }

    @include vp-767 {
      transform: translate(-2px, -2px);
    }
  }

  dl {
    place-self: start center;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    width: 100%;
    transform: translateY(-3px);
  }

  dt {
    position: relative;
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    font-size: 18px;
    line-height: 150%;

    @include vp-1199 {
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  dd {
    position: relative;
    width: min-content;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;


    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $color-default-white;
    }
  }

  span {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    max-width: 100px;

    @include vp-1199 {
      font-size: 24px;
      line-height: 30px;
      max-width: 60px;
    }
  }

  small {
    margin-left: 7px;
    font-size: 14px;
    line-height: 150%;

    @include vp-1199 {
      margin-left: 4px;
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.super-games__date {
  margin-bottom: 15px;

  @include vp-1199 {
    margin-bottom: 5px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.super-games__button {
  grid-column: span 2;
  margin: 41px 0 1px;
  padding: 26px 20px 23px;
  place-self: start center;
  width: 100%;
  max-width: 340px;
  outline: 4px solid #ffffff;
  text-align: center;
  color: $color-default-white;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;

  @include vp-1199 {
    margin-top: 30px;
    padding: 13px;
    font-size: 10px;
    line-height: 12px;
    outline: 2px solid #ffffff;
    transform: translateY(2px);

    &::after {
      outline-width: 2px;
    }
  }

  @include vp-767 {
    margin: 24px 0 6px;
    padding: 12px;
  }

  @include hover-focus {
    background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt 95.31%);
    outline: 4px solid #ffffff;
  }

  &:active {
    opacity: 0.7;
  }
}
